# WhatsApp API Settings
WHATSAPP_TOKEN=TOKEN_REAL
PHONE_NUMBER_ID=YOUR_PHONE_NUMBER_ID
WHATSAPP_VERIFY_TOKEN=VERIFICATION_TOKEN

# MinIO Settings
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=whatsapp-fil.env.examples